body{
    background-color: lightpink;
    text-align: center;
    font-family:  cursive;
}
h1{
    color: darkred;

}
p{
color: blue;
font-size: 20px;
}
button{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
}
#message{
    color: darkpink;
    font-size: 32px;
    font-family: cursive;
    margin-top: 20px;
}
